.search-status{

    margin-top:55px;

}

.search-status h2{

    font-family:"Lexend Exa",sans-serif;

    font-size:22px;

    letter-spacing:.08em;

    margin-bottom:12px;

}

.search-status p{

    color:#E63939;

    font-family:"Lexend Exa",sans-serif;

    letter-spacing:.08em;

}