.paper-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px 0;

    border-top:1px solid #000;

    cursor: pointer;

}

.paper-content h3{

    font-family:"Instrument Serif",serif;

    font-size:48px;

    font-weight:400;

    margin-bottom:12px;

}

.paper-content p{

    font-family:"JetBrains Mono",monospace;

}

.paper-content span{

    margin:0 18px;

}

.paper-arrow{

    font-size:42px;

}